.homeSection {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.bannerImg {
  margin-bottom: -450px;
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.productsLayout {
  max-width: 1600px;
  display: flex;
  z-index: 1;
  background: white;
}
